/* Style général du tableau */
.handsontable {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: transparent !important;
  color: #202124;
}

.handsontable th, .handsontable td, .handsontable tr {
  border-color: #ccc;
  background-color: transparent !important;
}

