/* Style général du tableau */
.handsontable {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: transparent !important;
  color: #202124;
}

.handsontable th {
  background-color: rgba(255, 255, 255, 0.4);
}

.handsontable td, .handsontable tr {
  border-color: #ccc;
  color: #fff;
  background-color: transparent !important;
}

.htDropdownArrow {
  display: none !important;
}

table select {
  appearance: none; /* Annule le style par défaut */
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none; /* Firefox */
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}

table select::-ms-expand {
  display: none; /* Masque la flèche sur IE/Edge */
}

table select:focus {
  outline: none;
  border-color: #007BFF;
}
