/* Style général du tableau */
.handsontable {
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: transparent !important;
  color: #202124;
}

.handsontable th {
  background-color: rgba(255, 255, 255, 0.4);
}

.handsontable td, .handsontable tr {
  border-color: #ccc;
  color: #fff;
  background-color: transparent !important;
}

