/*
couleur general :
 - grenna: #ae201e
 - bleu: #1260de
 - gradient bleu : linear-gradient(135deg, #6BA8E8, #1260DE, #0A3C8C)
*/
.auth-container {
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1260de;
  font-weight: bold;
}

.auth-container .form-group {
  margin-bottom: 15px;
  position: relative;
}

.auth-container .form-group .form-input, .auth-container input.not-grouped {
  display: flex;
  align-items: center;
  border: 2px solid #1260de;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.9);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.auth-container .form-group .icon {
  color: #1260de;
  width: 45px;
  text-align: center;
}

.auth-container input {
  width: 100%;
  padding: 5px 5px 5px 0;
  border: none;
  background: none;
  color: #444;
  font-size: 16px;
}

.auth-container .form-input input {
  width: calc(100% - 45px);
}

.auth-container input:focus {
  outline: none;
}

.auth-container .error {
  font-size: 12px;
  color: #ff6b6b;
}

.auth-container .checkbox-container {
  display: flex;
  gap: 5px;
  font-size: 14px;
}

.auth-container .checkbox-container a {
  color: #1260de;
  text-decoration: none;
  font-weight: bold;
}

.auth-container .checkbox-container a:hover {
  text-decoration: underline;
}

.auth-container .btn {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #1260DE, #0A3C8C, #1260DE);
  background-size: 200% 200%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.auth-container .btn:hover {
  background-position: 100% 0%;
  transform: scale(1.05);
}

.auth-container .divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.auth-container .divider::before,
.auth-container .divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}

.auth-container .divider span {
  font-size: 14px;
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
}


.auth-container .social-buttons {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.auth-container .social-buttons .btn-social {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-width: 50px;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #1260de;
  background: #fff;
}

.auth-container .link-to-login {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.auth-container .link-to-login a {
  color: #1260de;
  text-decoration: none;
  font-weight: bold;
}

.auth-container .link-to-login a:hover {
  text-decoration: underline;
}

.auth-container @media (max-width: 500px) {
  .auth-container .container {
    width: 100%;
  }
}

.auth-container .custom-checkbox input[type="checkbox"] {
  display: none;
}

.auth-container .custom-checkbox .checkmark {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  border: 2px solid #1260de;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-container .custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: #1260de;
  border-color: #1260de;
}

.auth-container .custom-checkbox .checkmark::after {
  content: "";
  display: none;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.auth-container .custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}

.auth-container .form-input.not-valid {
  border: 2px solid red;
}

.auth-container .form-input.not-valid .icon {
  color: red;
}

.auth-container .checkbox-container.not-valid .checkmark {
  border-color: red;
}

.auth-container .checkbox-container.not-valid .docs {
  color: red;
  text-decoration: underline;
}
